Source: ubnt-igmpproxy
Section: contrib/net
Priority: extra
Maintainer: VyOS Package Maintainers <maintainers@vyos.net>
Build-Depends: debhelper (>= 5), 
 autotools-dev, 
Standards-Version: 3.7.2

Package: ubnt-igmpproxy
Architecture: any
Depends:  perl (>= 5.8.8),
 vyatta-bash | bash (>= 3.1),
 igmpproxy
Description: The ubnt-igmpproxy package
 This package has the ubnt-igmpproxy programs, and VyOS 
 configuration/operational templates and scripts.
